<div class="grid justify-center mb-5">
  <h1 class="text-xl font-bold mt-5">All <%= @all_tee_times %> Tee Times</h1>
  <%= search_form_for @q do |f| %>

  <div>
    <%= f.label :start_time_eq, "Search for a Tee Time:" %>
    <%= f.datetime_field :start_time_eq, class: "form-input block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", value: params.dig(:q, :start_time_eq) %>
  </div>

  <div>
    <%= f.label :golf_course_id_eq, "Filter by Golf Course:" %>
    <%= f.collection_select :golf_course_id_eq, GolfCourse.all, :id, :name, { include_blank: 'Select All' },class: "form-input block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", selected: params.dig(:q, :golf_course_id_eq) %>
  </div>

    <%= f.submit "Search", class: "bg-green-800 text-white px-4 rounded-md hover:bg-green-500"%>
  <% end %>
  <div class="overflow-x-auto">
    <%= link_to "cart", shopping_carts_show_path %>
    <table class="min-w-full bg-white border border-gray-200 mt-5">
      <thead>
        <tr class="bg-gray-100">
          <th class="border-b border-gray-300 text-left px-4 py-2">Start Time</th>
          <th class="border-b border-gray-300 text-left px-4 py-2">Price</th>
          <th class="border-b border-gray-300 text-left px-4 py-2">Golf Course</th>
          <th class="border-b border-gray-300 text-left px-4 py-2">Holes</th>
        </tr>
      </thead>
      <tbody>
        <% @tee_times.each do |tee_time| %>
          <% formatted_price = format("$%.2f", tee_time.price / 100.0) %>
          <tr>
            <td class="border-b border-gray-300 px-4 py-2"><%= link_to tee_time.start_time.strftime('%d-%B, %H:%M'), tee_time_path(tee_time) %></td>
            <td class="border-b border-gray-300 px-4 py-2"><%= formatted_price %></td>
            <td class="border-b border-gray-300 px-4 py-2"><%= tee_time.golf_course.name %></td> 
            <td class="border-b border-gray-300 px-4 py-2"><%= tee_time.golf_course.holes %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @tee_times %>
</div>
