<div class="grid justify-center">
  <h1 class="text-xl font-bold mt-5">All <%= @all_tee_times %> Tee Times</h1>
  <%= search_form_for @q do |f| %>
    <div>
      <%= f.label :golf_course_id_eq, "Filter by Golf Course:" %>
      <%= f.collection_select :golf_course_id_eq, GolfCourse.all, :id, :name, { include_blank: 'Select All' }%>
    </div>

    <%= f.submit "Search"%>
  <% end %>
  <%= paginate @tee_times %>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200 mt-5">
      <thead>
        <tr class="bg-gray-100">
          <th class="border-b border-gray-300 text-left px-4 py-2">Start Time</th>
          <th class="border-b border-gray-300 text-left px-4 py-2">Price</th>
          <th class="border-b border-gray-300 text-left px-4 py-2">Golf Course</th>
          <th class="border-b border-gray-300 text-left px-4 py-2">Holes</th>
        </tr>
      </thead>
      <tbody>
        <% @tee_times.each do |tee_time| %>
          <% formatted_price = format("$%.2f", tee_time.price / 100.0) %>
          <tr>
            <td class="border-b border-gray-300 px-4 py-2"><%= link_to tee_time.start_time.strftime('%d-%B, %H:%M'), tee_time_path(tee_time) %></td>
            <td class="border-b border-gray-300 px-4 py-2"><%= formatted_price %></td>
            <td class="border-b border-gray-300 px-4 py-2"><%= tee_time.golf_course.name %></td> 
            <td class="border-b border-gray-300 px-4 py-2"><%= tee_time.golf_course.holes %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
