<div>
    <p><%= link_to "Tee-Up", root_path %></p>
    <nav class="">
        <ul class="flex">
            <li><%= link_to "Home", root_path %></li>
            <li class="pl-2"><%= link_to "Tee-Times", tee_times_path %></li>
            <li class="pl-2"><%= link_to "Golf Courses", golf_courses_path %></li>
            <li class="pl-2"><%= link_to "Sign Up", root_path %></li>
            <li class="pl-2"><%= link_to "Log In", root_path %></li>
        </ul>
    </nav>
</div>